<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include nav.html %}
    <div class="wrapper">
        <header class="header">
            <a class="link" href="{{ site.url }}/about/">
                <img class="selfie_home" alt="{{ site.title }}" src="{{ site.url }}/{{ site.picture }}">
            </a>
            <div class="title">
                <h1>{{ site.title }}</h1>
            </div>
            <div class="title">
                <h2 class="description">{{ site.bio }}</h2>
            </div>
            <div class="article">
                {{ content }}
            </div>
            {% include social-links.html %}
        </header>
        {% include footer-home.html %}
    </div>
</body>

</html>
